h1 {
    font-size: 4vmin;
}

#wrapper {
    font-size: 2.5vmin;
    min-width: 600px;
}

.btn {
    font-size: 2.0vmin;
}

.form-horizontal {
    padding: 0% 5%;
}

input:focus:invalid {
    box-shadow: 0 0 5px red;
}

input:required:valid {
    box-shadow: 0 0 5px green;
}

#usernamebox, #passwordbox {
    box-shadow: inherit;
}
