body {
    font-family: 'Roboto', sans-serif;
 
    margin: 0;
    padding: 0;
}

.container {
    opacity: 0;
    transition: opacity 1s;
}

.container-loaded {
    opacity: 1;
}

#wrapper {
   
}

.head {
    font-size: 35px;
    font-weight: bold;
}
